*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;;
}

body{
    background-color: rgb(228, 228, 220);
}

.container{
    display: grid; 
    gap: 10px;
    max-height: 120vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 40px calc(130vh - 100px) 40px;
    grid-template-areas: 
        "nav nav"
        "sidebar object"
        "footer footer"
        
}


/*header*/

.container header{
    grid-area: nav;
    background-color: rgb(80, 113, 219);
    text-align: center;
}

/*Barra lateral*/

.container aside{
    grid-area: sidebar;
    /* background-color: beige; */
    text-decoration: none;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 5px;

}

.menu ul{
    padding-top: 10px;
    text-align: justify;
    
}

.menu li{
    text-decoration: none;
    padding: 2px;
}

/*Main*/

.container main{
    grid-area: object;
    margin-right: 10px;
   
}

.grid_product{
    display: grid;
    grid-template-columns:  repeat(3, minmax(150px, auto));
    grid-template-rows: 400px 400px;
    gap: 10px;
    
    
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

}

.product .imagen{
    display: flex; 
    justify-content: center;  
    height: 70%;
    width: 30%;
    object-fit: cover;
}



.product .boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: rgb(80, 113, 219);
    

}

.product .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.product .boton a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
/*Footer*/

.container footer{
    grid-area: footer;
    background-color: white;
    text-align: center;
}